*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
.body{
    display: flex;
    justify-content: center;
 
}
.body .wrapper{
    max-width: 1024px;
    min-width: 800px;
    margin:0 auto;

}
.wrapper .header{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    background: #f2f2f2;
    justify-content: space-between;
    margin:40px 40px;
    border-radius: 10px;
}
.search-bar .text-1{
    margin: 30px 30px;
}
.myBtncontainer {
    margin-left:40px;
}
.more-than{
    margin-left:40px;
}
.wrapper .img{
    width:150px;
    flex:1 100%;
}
.nav-links {
    text-align: right; 
    padding:10px;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:15px 15px;
    position:relative;
}.nav-links ul li a{
    color:#0065fc;
    text-decoration: none;
    text-align: center;
    font-size:16px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background:#0065fc;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.button{
    position:inherit;
    padding:5px;
    
}
.button .btn{
    background-color:#0065fc;
    color:#deebff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding:5px 5px;  
}
.button .icon{
    color:#0065fc;
    padding:5px 5px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; 
    background-color:#deebff;
}
.button .text{
    flex-grow: 1;
    padding:5px 5px;
    border-color: #0065fc;
}
.search-bar .text-1{  
    background: none;
    margin:40px 40px;
    gap:0;
}
.search-bar .text-1 h4{
    font-weight: bold;
}
/* filter button*/
.myBtncontainer a{
    color:black;
    font-weight: bold;
}
.filterdiv i{
    border: none;
    outline: none;
    padding: 5px 10px;
    color:#0065fc;
    background: none;
}
.filterdiv{
    border:#0065fc;
    outline:none;
    padding:5px 16px;
    background-color: #deebff;
    border-radius: 25px;
    cursor:pointer;
    color:black;
    margin-bottom: 30px;
    
}
.filterdiv:hover{
    background-color: #0065fc;
    color:#f2f2f2;
}
.filterdiv:hover i{
    background: none;
    color:#deebff;
}

.filters .btn:hover {
    background-color: #ddd;
}
/* accommodation */
.main-container{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    margin:20px 20px;
}
.container-left{
    background: #f2f2f2;
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 10px;  
}
.main-container .container-left h4{
    margin-left: 40px;
    padding:10px;
    font-weight:bold;
}
.main-container .hotels{
    display: flex;
    align-items:flex-start;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    width:90%; 
    border-radius: 10px;
    gap:20px;
    padding:0;
    margin-left:20px; 
    background: #f2f2f2;
}

.acc-image{
    width:200px;
    height:200px;
    border-radius: 16px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden;
    gap:10px;
    background: #f2f2f2;
}
.acc-image img{
    width:100%;
    height:100%;
    border: 2px solid #f2f2f2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center center;
}
.acc-image .text-1{
    margin-left: 15px;
}
.container-left h5{
     text-align:start;
     font-weight:bold;
     margin:0;
     padding:2px;
}
.acc-image .text-1 p{
    text-align:start;
    margin:0;
    padding:2px;
    
}
.acc-image .text-1 i{
    text-align:start;
    margin:0;
    padding:2px;
    color:#0065fc;
}
.container-left .showmore p{
    font-weight:bold;
    padding:5px;
    margin-left: 35px;
}   
.acc-image:hover{
    transform: translateY(-2px);
    } 


/* most popular section*/
.main-container .container-right{
    display:flex;
    align-items:start;
    flex-direction: column;
    width:50%;
    border-radius: 10px;
    justify-content: center;
    margin-right: 70px;
    padding:20px;
    background: #f2f2f2;
    
}
.container-right h4{
    font-weight:bold;
    padding:0;
    color: black;
}
.main-container .mostP-container{
    display:flex;
    align-items:center;
    flex-direction: column;
    width: 100%;
    
}

.Mostpopularcard{
    width:100%;
    height: 130px;
    padding:0;
    border-radius: 16px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    display:flex;
    flex-direction:row;
    transition: transform 0.3s;
    align-items:start;
    margin-bottom: 1rem;
    background: #f2f2f2;
}

.Mostpopularcard img{
    width: 50%;
    height: 100%;
    border: 2px solid #f2f2f2;
    margin:0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: row;
    object-fit:cover;
    object-position: left;
    background: #f2f2f2;
   
}
.Mostpopularcard h5{
    font-weight:bold;
    margin-left:10px;
    gap:5px;
}
.Mostpopularcard .text2 p{
    background: none;
    margin-left: 5px;
    padding:5px;
}
.Mostpopularcard .text2 i{
    background: none;
    color:#0065fc;
}
.Mostpopularcard:hover{
    transform: translateY(-2px);
}

/* activities*/
.activities{
    width:95%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 20px;
    margin: 30px 30px;
    background: #f2f2f2;
    
}
.activities-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #f2f2f2;
    align-items:flex-start;
    margin:30px 30px;
}
.activities-container h4{
    background:#f2f2f2;
    padding:0;
    gap:0;
    font-weight:bold;

}
.activities-image{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:start;
    padding:5px;
    gap:35px;
}
.activities-image .act1-image{
    display: flex;
    flex-direction:column;
    width:250px;
    border-radius:  20px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}
.activities-image .act1-image img{
    width:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.activities-image .act1-image p{
    font-weight:bold;
    text-align: start;
    margin-left: 10px;
}
.activities-image .act2-image{
    display:flex;
    flex-direction: column;
    width:250px;
    border-radius:  20px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
       
}
.activities-image .act2-image img{
    width:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.activities-image .act2-image p{
    font-weight:bold;
    text-align: start;
    margin-left: 10px;
}
.activities-image .act3-image{
    display:flex;
    flex-direction: column;
    width:250px;
    height: 180px;
    margin:5px;
    border-radius:  20px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}
.activities-image .act3-image img{
    width:100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.activities-image .act3-image p{
    font-weight:bold;
    text-align: start;
    margin-left: 10px;
}
       
.activities-image .act4-image{
    display: flex;
    flex-direction:column;
    width:340px;
    height: 400px;
    border-radius:  20px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);  
}
.activities-image .act4-image img{
    width:100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.activities-image .act4-image p{
    font-weight:bold;
    text-align: start;
    margin-left: 10px;
}
.activities-image .act5-image{
    width:250px;
    display: flex;
    flex-direction:column;
    margin:5px;
    border-radius:  20px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}
.activities-image .act5-image img{
    width:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.activities-image .act5-image p{
    font-weight:bold;
    text-align: start;
    margin-left: 10px;
}
.activities-image .act6-image{
    width:250px;
    display: flex;
    flex-direction:column;
    border-radius:  20px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}
.activities-image .act6-image img{
    width:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.activities-image .act6-image p{
    font-weight:bold;
    text-align: start;
    margin-left: 10px;
}
.activities-image p{
    text-align: center;
}
.act1-image:hover{
    transform: translateY(-2px);
}
.act2-image:hover{
    transform: translateY(-2px);
}
.act3-image:hover{
    transform: translateY(-2px);
}
.act4-image:hover{
    transform: translateY(-2px);
}
.act5-image:hover{
    transform: translateY(-2px);
}
.act6-image:hover{
    transform: translateY(-2px);
}


/* footer*/ 
.footer{
    width:95%;
    height:150px;
    background-color: #f2f2f2;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 5px;
    clear: both;
    border-radius: 20px;
    gap:5px;
    margin:30px 40px;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}
.footer-heading h5{
    margin-bottom: 1rem;
    font-weight:bold;
}

/* for mobile version */

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 0px) and (max-width : 768px){
    /*Style*/
 body {
    background:#f2f2f2;
    width: 100%;

}
.wrapper .header {
    justify-content: center;
    align-items: center;
    background:#f2f2f2;
    width:100%;
    height: 160px;
    margin:10px 10px;
}
.header img{
    margin-left: 50px;
    padding:0;

}
.nav-links ul li{
    padding:40px;
    
}
.search-bar .text-1{
    margin:0;
    padding:0;
    margin-left: 30px;
}
.filterdiv{
    margin:0;
    margin-top: 5px;
}
.more-than{
    margin-top: 20px;
}

/* accommodation*/
.main-container{
    max-width: 100%;
    min-width: 100%;
    margin:0 auto;
    flex-direction: column;
    margin:10px 10px;
    border-radius: 5px;   
}
.main-container .container-left{
    max-width: 100%;
    min-width: 100%;
    margin:0 auto;
}
.main-container .container-left h4{
    gap:0;
    margin:10px;
}
.main-container .container-left .hotels{
    max-width: 100%;
    min-width: 100%;
    margin:0 auto;
    order:1;
    gap:0;

}
.hotels .acc-image{
    width:100%;
    height: 250px;
    margin:20px 20px; 
    margin-top: 0;  
    margin-bottom: 10px;
}
.hotels .acc-image img{
    width:100%;
    height:100%;

}
.acc-image .text-1 h5{
    padding:2px;
}
.acc-image .text-1 p{
    padding:2px;
}
/* most popular*/

.main-container .container-right{
    width:100%;
    height: 100%;
    order:-1;
 }
 .container-right h4{
    margin-left: 15px;
 }
 .mostP-container .Mostpopularcard{
    width:100%;
    height: 150px;
    margin:20px 20px;
    margin-top:0;
    margin-bottom: 10px;
 }
 .mostP-container .Mostpopularcard img{
    width:45%;
    height: 100%;
 }
 .Mostpopularcard .text2 h5{
    padding:10px;
    margin-left: 5px;
 }
 .Mostpopularcard .text2 p{
    padding:10px;

 }
 
/* activities*/
 .activities{
    max-width: 100%;
    min-width: 100%;
    margin:10px 10px;
 }
.activities-image{
    gap:5px;
    align-content:center;
    margin:20px 20px;
    margin-top: 0;
}
.activities-image .row{
    width: 100%;
    padding:0;
    gap:5px;
    margin-left:0;

}
.activities-image .column{
    width:100%;
    padding:0;
    gap:5px;
    border-radius:20px;
    align-content:center;
    
}
 .activities-image .act1-image{
    width:100%;
    height: 200px;   
    border-radius:20px;
}
.activities-image .act1-image img{
    width:100%;  
    height:100%;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}
.activities-image .act1-image p{
    margin-left: 10px;
    text-align: start;
}
.column .act2-image{
    width:100%; 
    height:200px; 
    border-radius:20px;
}
.column .act2-image img{ 
    width:100%;
    height:100%;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}
.column .act2-image p{
    margin-left: 10px;
    text-align: start;
}
.column .act3-image{ 
    width:100%;
    height:200px;
    margin-left:0;
    border-radius:20px;
}
.column .act3-image img{ 
    width:100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.column .act3-image p{
    margin-left: 10px;
    text-align: start;
}
.row .act4-image{ 
    width:100%;
    height:200px;
    border-radius:  20px;
}
.row .act4-image img{ 
    width:100%;
    height:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.column .act5-image{ 
    width:100%; 
    height: 200px; 
    border-radius:  20px;
    margin-left: 0;
}
.column .act5-image img{ 
    width:100%;
    height:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.column .act5-image p{
    margin-left: 10px;
    text-align: start;
}
.column .act6-image{ 
    width:100%; 
    height: 200px; 
    border-radius:  20px;
}
.column .act6-image img{ 
    width:100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.footer {
    flex-direction:row;
    width:100%;
    margin-left:10px;
    gap:0;
    font-size:1rem;
    
}
}    

/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 992px){
    /*Style*/
body {
    width: 100%;
}
.wrapper .header {
    justify-content:space-between;
    background:#f2f2f2;
    width:100%;
    margin:10px 10px;

}   
.search-bar .text-1{
    margin:10px 10px;
    padding:0;
}
.myBtncontainer{
    margin-left:10px;  
    margin-top: 10px; 
}
.more-than{
    margin-left:10px;
}

/* accommodation*/
.main-container{
    max-width: 100%;
    min-width: 100%;
    margin:0;
    flex-direction:row;
}
.container-left{
    width: 100%;
    height: 100%;
}
.main-container .container-left h4{
    margin:0;
    
}
.main-container .container-left .hotels{
    width:100%;
    height: 80%;
    margin-left: 1px;

}   
.hotels .acc-image{
    width:30%;
    height: 190px;

}
.hotels .acc-image img{
    width:100%;
    height:90px;
}
.hotels .acc-image .text-1{
    margin-left: 5px;

}
.acc-image .text-1 h5{
    padding:0;
    margin-left: 2px;
}
.acc-image .text-1 p{
    padding:2px;
}
.acc-image .text-1 i{
    padding:2px;
}
.container-left .showmore a{
    padding:50px;
}
.main-container .container-right{
    width:60%;
    margin-right:0;
 }
 .mostP-container .Mostpopularcard{
    width:100%;
    height: 120px;
    gap:0;
 }
 .mostP-container .Mostpopularcard img{
    width:100%;
 }
 .Mostpopularcard .text2{
    width:100%;
 }
 .Mostpopularcard .text2 h5{
    margin-left: 5px;
 }
 .Mostpopularcard .text2 p{
    margin-left: 3px;
    padding:5px;

 }
 .text2 h5{
    margin:0;
    gap:0;
    padding:2px;
 }
 .text2 p{
    gap:0;
    padding:2px;

}
.activities{
    max-width: 100%;
    min-width: 100%;
    height: 400px;
    justify-content: flex-start;
    margin:10px 10px;
    border-radius: 10px;
 }
 .activities-container{
    margin:0;
 }
 .activities-image{
    width: 100%;
    gap:20px;
   
 }
 .activities-container h4{
    margin-left: 10px;
 }
.activities-image .act1-image{
    width: 150px; 
    height:300px;  
    border-radius:20px;
    margin-right:0;
}
.activities-image .act1-image img{
    width: 100%;  
    height:100%;
    border-top-right-radius:20px;
    border-top-left-radius:20px;

}
.activities-image .act1-image p{
    margin-left: 10px;
    text-align: start;
}
.column .act2-image{
    width:100%;
    height: 150px; 
    border-radius: 20px;
    margin-left: 0;
}
.column .act2-image img{ 
    width:100%;
    height:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.column .act2-image p{
    margin-left: 10px;
    text-align: start;
}
.column .act3-image{
    width:100%; 
    height:150px ;
    border-radius:  20px;
    margin-left:0;
}
.column .act3-image img{ 
    width:100%;
    height:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.column .act3-image p{
    margin-left: 10px;
    text-align: start;
}    
.row .act4-image{
    width:180px;
    height: 300px;
    border-radius:20px;
}
 .row .act4-image img{
    width:100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.activities-image .row p{
    margin-left: 10px;
    text-align: start;
}
.column .act5-image{ 
    width:100%; 
    height: 150px; 
    border-radius:20px;
    margin:0;
}
.column .act5-image img{ 
    width:100%;
    height: 130px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}
.column .act5-image p{
    margin-left: 10px;
    text-align: start;
}
.column .act6-image{ 
    width:100%; 
    height: 150px;
    border-radius:20px;
}
.act6-image img{ 
    width:100%;
    height: 130px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.column .act6-image p{
    margin-left: 10px;
    text-align: start;
}
.footer{
    margin:10px 10px;
    width:100%;
}

}